@import "primeng/resources/themes/saga-orange/theme.css";
@import "primeng/resources/primeng.css";

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    height: 100vh;
    background: #f3f3f3;
}
  